@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@300;400&family=Be+Vietnam+Pro:wght@400;500;700&family=Lato:wght@700&family=Noto+Sans&family=Poppins:wght@400;600&family=Raleway&family=Recursive&family=Vina+Sans&family=Young+Serif&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    min-height: 100vh;
    text-decoration: none;
    background-color: #BDCDD6;
    color: #495b65;
    font-family: 'Averia Serif Libre', serif;
}

nav {
    background-color: #8899e5;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    font-family: 'Averia Serif Libre', serif;
    align-items: center;
}

nav .logo {
    font-size: 30px;
}

nav a {
    text-decoration: none;
    color: #495b65;
}

nav ul {
    display: flex;
    gap: 50px;
    list-style: none;
    font-size: 1.29rem;
    margin-right: 1rem;
}



.first-slide{
    height: calc(90vh - 5rem);
    display: flex;
    /* background-color: red; */
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.first-slide div{
    margin: 1.5rem;
}

.first-slide h1{
    font-size: 3.5rem;
    font-weight: 900;
}

.first-slide h2{
    font-size: 2rem;
}


main {
    margin-top: 5m;
}