@import url(https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Inter:wght@400;500;600;700;800;900&display=fallback);


* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    width: 100%;
    min-height: 94vh;
    box-sizing: border-box;
    font-family: Inter;
    background-color: #151719;
    color: #d9e3ea;
    max-width: 1110px;
    width: min(max-width, 100%);
    margin: 1.5rem auto;
}

header {
    background-color: red;
    height: 5rem;



}

header img {
    width: 32px;
    height: 32px;
}

nav {
    width: auto;
    display: flex;
    justify-content: space-between;
}


nav ul {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

mav ul li {
    font-size: 1rem;
    padding: 8px 1rem;
}